* {
  box-sizing: border-box;
  font-family: $text-logo;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $light-background;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $accent-yellow;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
