header {
  background-color: $text-color;
  width: 100vw;
  height: 150px;
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 6px rgba(0,0,0,0.3);
  top: 0;
  position: fixed;
  z-index: 99;

  @media #{$media-desktop} {
    height: 120px;
  }
}

.header__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media #{$media-desktop} {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-left: 0;

    @media #{$media-tablet} {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    @media #{$media-desktop} {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .search__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      @media #{$media-tablet} {
        margin-bottom: 0;
      }
      @media #{$media-desktop} {
        margin-bottom: 0;
      }
    }

    .menu__container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        color: $accent-yellow;
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        @media #{$media-tablet} {
          margin-left: 0.8rem;
          margin-right: 0.8rem;
        }
        @media #{$media-desktop} {
          margin-left: 1.2rem;
          margin-right: 1.2rem;
        }

        a {
          color: $accent-yellow;
          text-decoration: none;
          font-size: 0.7rem;

          @media #{$media-tablet} {
            font-size: 0.9rem;
          }
          @media #{$media-desktop} {
            font-size: 1rem;
          }
        }
      }
    }

    li{
      list-style: none;
      color: $accent-yellow;
    }
  }
}

.logo {
  font-family: 'Inter', sans-serif;
  color: $accent-yellow;
  font-weight: 800;
  font-size: 1rem;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  border: 2px solid $accent-yellow;
  cursor: pointer;

  @media #{$media-tablet} {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  @media #{$media-desktop} {
    font-size: 1.5rem;
    margin-top: 0;
  }

  span{
    font-family: 'Inter', sans-serif;
    color: $light-background;
  }
}

.menu {
  padding: 60px 0 46px 0;
  transition: 0.2s;
  letter-spacing: 0.1rem;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;

  @media #{$media-tablet} {
    padding: 60px 0 31px 0;
    &:hover {
      border-bottom: 4px solid $accent-yellow;
    }
  }
  @media #{$media-desktop} {
    padding: 60px 0 46px 0;
    &:hover {
      border-bottom: 4px solid $accent-yellow;
    }
  }
}

.fa-search {
  margin-left: -1.5rem;
  padding-bottom: 0.2rem;
}

.user__name {
  color: $light-background !important;
  font-size: 0.9rem;
  font-weight: 400;
  padding-left: 3rem;

  @media #{$media-tablet} {
    padding-left: 0.8rem;
  }
  @media #{$media-desktop} {
    padding-left: 3rem;
  }
}